.App {
  text-align: center;
}

.logo {
  width: 150px;  /* Adjust the width of the logo */
  height: auto;  /* Maintain the aspect ratio */
  margin-bottom: 1rem;  /* Add some space below the logo */
}


.App-header {
  background-image: url('C:\Users\aanya\Downloads\CS_club.avif'); /* Path to the image */
  background-size: cover; /* Cover the entire section */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  min-height: 100vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; /* Text color for contrast */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Add text shadow for better readability */
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
}



